.alert {
  color: white;
  border-radius: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  z-index: 1111;
  }
  .alert p {
  margin: 0;
  }
  .alert-error {
  background: lightcoral;
  }
  .alert-success {
  background: lightgreen;
  }
  .close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
  }